<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Security rules
<FilesMatch "^(\.env|\.git|composer\.json|artisan|server\.php|storage|vendor)">
    Order allow,deny
    Deny from all
</FilesMatch>
